/* font-family: 'Roboto', sans-serif;

COLORS
teal - #0fb9b1;
frosted white - rgba(225, 225, 225, .9);
grey - #95a5a6;
red - #ee5253

*/
body {
  margin: 0;
  background-image: url("assets/burger-friends.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: white;
}

/* ~~~~~~~~~~~~~~ Header ~~~~~~~~~~~~~~~~ */

header {
  height: 7%;
  background: #0fb9b1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header > h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 175%;
  margin-left: 2%;
}

/* ~~~~~~~~~~~~~~ Login Page ~~~~~~~~~~~~~~~~ */

.login-view {
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-box {
  background-color: rgb(255, 255, 255);
  border: 25px outset #0fb9b1;
  border-radius: 10px;
  width: 50vw;
  height: 75vh;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: space-between;
}

#logo {
  height: 30%;
  margin-top: 5%;
}

.login-box > h1, .instructions, input, .submit {
  font-family: 'Roboto', sans-serif;
  margin: auto 0;
}

.login-box > h1 {
  font-size: 475%;
  margin: 0px;
}

.login-box > p {
  font-size: 150%;
  margin-bottom: 0;
}

.login-box > input {
  height: 7%;
  width: 40%;
  text-align: center;
  font-size: 110%;
  margin-bottom: 0;
}

.login-box > button {
  background-color: #0fb9b1;
  border: none;
  border-radius: 7px;
  width: 15%;
  height: 7%;
  font-size: 100%;
}

/* ~~~~~~~~~~~~~~ Main ~~~~~~~~~~~~~~~~ */

main {
  height: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

main > section {
  width: 35vw;
  height: 50vh;
  background-color: rgba(255, 255, 255, 0.9);
  margin-bottom: 30vh;
}

/* ~~~~~~~~~~~~~~ Select Recipe Section ~~~~~~~~~~~~~~~~ */

.select-recipe-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  align-content: space-around;
  font-family: 'Roboto', sans-serif;
}

sup {
  color: #ee5253;
}

.select-recipe-container > h1, label, #lets-cook {
  margin-left: 11%;
}

.select-recipe-container > label, #lets-cook {
  margin-top: 5%;
}

.select-recipe-container > h1 {
  font-size: 200%;
  margin-bottom: 0px;
}

.select-recipe-container > label {
  font-size: 125%;
}

.select-recipe-container > #lets-cook {
  background-color: #0fb9b1;
  border: none;
  border-radius: 7px;
  width: 45%;
  height: 10%;
  margin-left: 10%;
  font-size: 100%;
}

/* ~~~~~~~~~~~~~~ Show Recipe Section ~~~~~~~~~~~~~~~~ */

.show-recipe {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto', sans-serif;
}

.show-recipe > span {
  font-size: 175%;
  font-style: italic;
}
.show-recipe > p {
  font-size: 150%;
  font-style: italic;
}

.show-recipe > h1 {
  text-align: center;
  font-size: 200%;
  margin: 0px 11%;
}

.show-recipe > img {
  height: 45%;
}

.hidden {
  display: none;
}
